.masthead{
  color:blue;
}
h1 {
    color: #ff007f;
}

img{
  width: 15%
}

.background {
  //background-image:("closet.png");
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
}

.WhitespaceBackground{
  //background-image: ("Iphonebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
}
.footer{
  position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: rgba(71,172,235,1);
     color: white;
     text-align: center;
     margin-top: 2.5em;
     padding: 3.5em 0;
}
.header{
  position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     background-color: rgba(71,172,235,1);
     color: white;
     text-align: center;
     //margin-top: 2.5em;
     padding: 3.5em 0;
}
