*{
    font-family: 'Comfortaa', cursive;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color::#70bef9;
    color: :#70bef9;
    text-align: center;
}

.header{
     left: 0;
     top: 0;
     width: 100%;
     text-align: center;
}

.card-img-top{
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.outline-first{
  color: black;
  text-align: center;
  font-size: 20px;
}


#big {
    font-size: 15px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color:#70bef9;
    border-radius: .3rem;
}
p,h2{
  text-align: center;
}

body{
  background-color:#C0C0C0;
}

table {
    //border-collapse: collapse;
    width: 80%;
    text-align: center;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
